  /* Personaliza tu portafolio */
  body {
    background-color: rgba(0, 0, 0, 0.8);
    background-image: 
      linear-gradient(#444cf7 1px, transparent 0px),
      linear-gradient(to right, #444cf7 1px, #000000 1px);
    background-size: 20px 20px;
  }
  

  h3, h4, h6, h1, h2, h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700; /* Bold para títulos */
    color: antiquewhite;
  }

   p, label, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 300; /* Light para subtítulos o detalles */
    color: antiquewhite;
  }

  .text-justify{
    text-align: justify;
  }
  

  .hero {
    background: rgb(0,123,255);
    background: linear-gradient(159deg, rgba(0,123,255,1) 25%, rgba(30,30,35,1) 85%);
    color: white;
    text-align: center;
    padding: 50px 0;
    font-family: 'Courier Prime', monospace;
  }

  .project-card img {
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza transformaciones */
}


.project-card img {
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza transformaciones */
}

.project-card img:hover {
  transform: scale(1.1); /* Escala la imagen al pasar el mouse */
  
}

.card {
  color: #fbfbfb;
  background: #6c757d00;
  border-radius: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza transformaciones */
}

.card:hover {
  transform: translateY(-10px); /* Mueve ligeramente la tarjeta hacia arriba */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Agrega un efecto de sombra */
}
.card {
    color: #fbfbfb;
    background: #6c757d00;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza transformaciones */
}

  footer {
    background: #6c757d;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 0px;
  }


  .btn {
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 300; /* Light para subtítulos o detalles */
  }

  .icon{
    color: #fbfbfb;
    text-shadow: 2px 2px 5px rgba(0, 123, 255, 0.5);

  }

  .juan{
    width: 200px;
    height: 200px;
    border-radius: 300px;
    display: block;
    margin:  auto; /* Centrado horizontal */
    max-width: 100%; /* Escalado responsivo */
    box-shadow: 0px 0px 30px 10px rgba(0, 123, 255, 0.5); /* Aura */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .juan:hover {
    transform: translateY(-10px); /* Mueve ligeramente la tarjeta hacia arriba */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Agrega un efecto de sombra */
  }

  .about{
    margin: 20px;
  }

 .colorsection1{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.500) 0%, rgba(30, 30, 35, 0.500) 10%);
  margin: 0; /* Elimina márgenes externos */
  padding: 20px; /* Opcional si no necesitas relleno */
 }

 .colorsection2{
  background: rgb(30,30,35);
  background: linear-gradient(0deg, rgba(30, 30, 35, 0.500) 0%, rgba(0, 0, 0, 0.500) 10%);
  margin: 0; /* Elimina márgenes externos */
  padding:20px; /* Opcional si no necesitas relleno */
 }

 .colorsection1, .colorsection2 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

 .line {
  width: 100%;
  height: 20px; /* Grosor de la línea */
  background: rgb(30, 30, 35, 0.500);
  background: linear-gradient(0deg, rgba(30, 30, 35, 0.500) 43%, rgba(0,123,255,1) 77%);
}

 .collapse .card-body {
  color: #ffffff;
  border-radius: 10px;
}

.formulario{
position: relative;
margin-top: 10px;
}